viikko3/*/WebLogin/salasanat.txt
**/build/*
**/.gradle/*
/viikko4/tehtava1/MockitoDemo/build/
/viikko4/tehtava2/MaksukorttiMockito/build/
/viikko4/tehtava3/Verkkokauppa/build/
/viikko4/tehtava5/IntJoukkoSovellus/.gradle/
/viikko4/tehtava5/IntJoukkoSovellus/build/
/viikko4/tehtava6/Tennis/.gradle/
/viikko4/tehtava6/Tennis/build/
